<ul class="nav navbar-right top-nav">

    <!-- sign in button -->
    <li class="{{ linkclass }} sign-in-button">
        <a class="sign-in-button" href="#" data-toggle="modal" data-target="#myModal">Sign In</a>
    </li>


    <!-- user info when signed in -->
    <li class="user-badge dropdown">

        <!-- logged in user dropdown button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="usernameHeaderField">
            <i class="fa fa-user"></i>
            <span class="username">Administrator </span>
            <b class="caret"></b>
        </a>

        <!-- dropdown content -->
        <ul class="dropdown-menu">
            <!--img class="user-profile-pic thumbnail" style="height:100px; float-left; margin:10px" src="default.jpg"-->

            <li>
                <a id="firebaseLogout" href="#">
                    <i class="fa fa-fw fa-power-off"></i> 
                    Log Out
                </a>
            </li>

        </ul>

    </li>

</ul>
