<ol class="chapter-list">
	{% for chapter in page.chapters %}
		{% if chapter.published != 'false' %}


		{% capture chapter_image %}
            {{ site.baseurl }}/courses/{{ page.course }}/assets/tiles/{{ chapter.name }}.jpg
        {% endcapture %}


	    <li class="chapter-item">
		    <a href="{{ chapter.name }}.html">

		    	<div class="zoom-badge">
		    		<div class="inner" style="background-image: url({{ chapter_image }});"></div>
		    	</div>

			    <div class="content">

			        <h2 class="title">{{ chapter.title }}</h2>
			        <p>{{ chapter.description }}</p>

			    </div>
		    </a>
		</li>

		{% endif %}
	{% endfor %}
</ol>