{% capture course_url %} 
    {{ site.baseurl }}/courses/{{ course.name }}
{% endcapture %}

{% capture course_tile_image %}
    {{ site.baseurl }}/courses/{{ course.name }}/assets/tiles/{{ course.name }}.jpg
{% endcapture %}


<div class="tile-link col-md-4">

	{% if course.published == false %}
	<a style="opacity:0.5;">
    {% else %}
    <a href="{{ course_url }}">
    {% endif %}

        <img class="header-image" src="{{ course_tile_image }}">

        <span class="title">{{ course.title }}</span>
        <span class="length">{{ course.length }}</span>
        <p>{{ course.description }}</p>

        {% if course.standard %}
            <p>AS-{{ course.standard }} | {{ course.credits }} Credits</p>
        {% endif %}

    </a>

</div>