<nav id="page-navigation">




    <!-- branding - always visible. links to home page -->
    <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img class="avatar" src="{{ site.baseurl }}/theme/assets/images/gw-avatar.png">
        {{ site.name }} | {{ page.title}} 
    </a>




    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="site-nav nav navbar-nav">

        {% for link in site.data.navigation %}

        <!-- page -->
        {% assign linkclass = nil %}
        {% assign currenturl = page.url | remove_first: '/' %}

        {% if link.title == page.title or link.title == page.section%}
            {% assign linkclass = 'active' %}
        {% endif %}

      <li class="{{ linkclass }}">
        <a href="{{ site.baseurl }}/{{ link.url }}">{{ link.title }}</a>
      </li>

    {% endfor %}

      </ul>

    </div><!-- /.navbar-collapse -->


</nav>
