<!-- slide -->
<section 
	
	{% if forloop.index0 == 0 %}
		id="{{ slide.section }}"
		class="title-slide"
		data-background="{{ site.baseurl }}/assets/theme-tile.svg" 
		data-background-color="{{ site.themecolor }}"
		data-background-size="200px" 
		data-background-repeat="repeat"
	{% else %}
		id="{{ slide.title }}"
		class="{{ slide.class }}"
	{% endif %}
	>
		
{{ slide.content | 
		replace: '[[BASE_URL]]', site.baseurl | 
		replace: '[[THEME_IMAGES]]', site.theme_images | 
		replace: '[[COURSE_IMAGES]]', site.course_images | 
		markdownify }}

<aside class="notes">
{{ slide.notes | 
		replace: '[[BASE_URL]]', site.baseurl |
		markdownify }}
</aside>

</section>