body.course-page {

	ol.chapter-list {

		list-style-type: none;

		li {

			margin: 20px 0;

			a {
				display: flex;
				align-items: stretch;
				background: rgba(255, 255, 255, 0.7);
				border: 1px solid white;
				border-radius: 3px;
				overflow: hidden;
				text-decoration: none;
			}

			a:hover {
				background: rgba(255, 255, 255, 0.9);
			}

			h2.title {
				margin: 0;
			}

			.chapter-info {
				padding: 10px;
			}
		}

	}

}

