#page-navigation {

  background: #041221;
  padding: 0 0.3em;

  .strand-name,
  .divider-bar,
  .page-name,
  .course-name,
  .chapter-name {
    display: inline-block;
    margin: 0;
    padding: 0.8em 0.2em;
    line-height: inherit;
  }

  .strand-name {

    color: #fff;

    &:hover {
      color: #DCE3B2;
      background: transparent;
    }

    img {
      float: left;
      height: 1.8em;
      margin-right: 0.4em;
      margin-top: -0.2em;
    }

  }

  .page-name,
  .divider-bar,
  .course-name {
    color: #fff;
    text-decoration: none;
  }

  .course-name {

    &:hover {
      color: #DCE3B2;
    }

  }

  .chapter-name {
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      color: #DCE3B2;
      background: transparent;
    }

    &:focus {
      background: transparent;
    }
  }

  .dropdown.open .chapter-name {
    color: #DCE3B2;
    background: transparent;
  }

  .dropdown-menu {
    font-size: inherit;

    li {
      border-top: 1px solid #ddd;
    }

    li:first-of-type {
      border: none;
    }

    li a {
      padding: 8px 15px;
      min-width: 200px;
    }
  }

}



/*

// old site nav links styling in case they make a comeback

.site-nav {

    a {
      font-family: Lunchbox,"Helvetica Neue",Arial,sans-serif;
      font-size: 150%;
      color: #dce2b1;
      transition: all 0.2s ease 0s;
    }

    a:hover {
      transform: scale(1.2) translateZ(0px);
    }

    .active a {
      color: #eead5e;
      background: none;
      border-bottom: 4px solid #eead5e;
    }

    .active a:hover {
      transform: none;
    }

  }
*/