---
---

/*
Base styling applied to every page
in the website.
*/

$baseurl: '{{site.baseurl}}';
$assets-url: '{{site.theme_assets}}';
$theme-color: {{site.themecolor}};

@import 'theme';
@import 'mixins';

@import 'lunchbox';
@import 'bootstrap-customisation';
@import 'youtube-modal';
@import 'base';

@import 'page-navigation';
@import 'page-header';
@import 'page-footer';

@import 'course';
@import 'chapter';
@import 'feedback';
@import 'chapter-links';


