<!-- Bootstrap -->
<link href="{{ site.baseurl }}/theme/assets/submodules/bootstrap/css/bootstrap.min.css" rel="stylesheet">


<!-- only include revealJS styles if there is a slideshow on the page -->
{% if page.slides %}

    <!-- revealjs for slideshows -->
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/assets/submodules/revealjs/css/reveal.min.css">

    <!-- Custom Slideshow CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/assets/css/slideshow.css">

{% endif %}

<!-- Prism -->
<link rel="stylesheet" href="{{ site.baseurl }}/theme/assets/submodules/prism/prism.css">


<!-- Custom Fonts -->
<link href="http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic" rel="stylesheet" type="text/css">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/theme/assets/css/styles.css">




