---
---

{% include layout/head.html %}
{% include layout/pagenavigation.html %}

<div class="page-content">




<!-- display slideshow if there is one (when on a chapter page) -->
{% if page.slides %}
	{% assign slides = page.slides %}
	{% include components/slideshow/slideshow.html %}
{% endif %}


<!-- display a fat page header if there is one (home page, course page) -->
{% if page.heading %}
	{% include layout/pageheader.html %}
{% endif %}


<!-- display page content -->
<div class="container">
{{ content }}
</div><!-- .container -->


<!-- list courses if there are any (when on home page) -->
{% if page.courses %}
	{% include components/lists/course-list.html %}
{% endif %}


<!-- list chapters if there are any (when on a course page) -->
{% if page.chapters %}
	{% include components/lists/chapter-list.html %}
{% endif %}


{% include layout/pagefooter.html %}



</div><!-- .page-content -->

{% include layout/foot.html %}


<!-- modals -->
{% include components/auth/sign-in.html %}